<table class="table table-bordered mt-4 bg-info text-white" *ngIf="stdArr.length>0; else noStd">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of stdArr; index as i">
            <td>{{i +1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
           <td><button mat-raised-button color="primary" class="btn btn-sm btn-block">Edit</button></td> 
          <td><button mat-raised-button color="accent" class="btn btn-sm btn-block"
            (click)="onDeleteStd(std)">Delete</button>     
          </td>
        </tr>
    </tbody>
</table>

<ng-template #noStd>
    <p class="alert alert-info">
        No Student Added Student yet..!
    </p>
</ng-template>